/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* set width 30% for screens of laptop desktop ipad and above */
@media only screen and (min-width: 768px) and (max-width: 1800px) {
    .container{
        width: 30%;
    }
    .image
    {
        max-width: 400px;
        max-height: 200px;
    }
}
/* set width 100% for screens of mobile */
@media only screen and (min-width: 200px) and (max-width: 767px) {
    .container{
        width: 100%;
    }
    .image
    {
        max-width: 300px;
        max-height: 200px;
    }
}
.font
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #00246a;
    font-size: 18px;
}
